<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {{title}}
    </title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/bower_components/semantic/dist/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/growl/stylesheets/jquery.growl.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/bower_components/growl/javascripts/jquery.growl.js" charset="utf-8"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js" charset="utf-8"></script>
</head>

<body>
    <div id="loading" class="ui active dimmer">
        <div class="ui active text loader">Loading</div>
    </div>
